@import 'colors';
@import 'config';

*{
    //border: 1px solid navy;
    margin: 0;
    padding: 0;
}
html{
    background: navy
     url('../../images/dark-wood.jpg') repeat center;
}

body{
    h1{
        font-family: Estonia;
        color: $color1;
        font-size: 80px;
    }

    .recipe-select{
        display: inline-grid;
       justify-content: space-between;
       align-content: center;
        grid-template-columns: auto auto auto;
        margin-top: 50px;

        figure{
           margin: 0 15px;
           padding-bottom: 15px;
            &:hover figcaption{
                color: rgba(20, 19, 19, 0.658);
            }

            img{
                object-fit: cover;
            }
        }
        figcaption{
            font-family: Lobster;
            font-size: larger;
        }
    }
}

@media screen and (max-width:500px){
    html{
        max-width: 100%;
        overflow-x: hidden;
    }
    
    body>h1{
        font-size: 33px;
    }
     body  .recipe-select{
            display: block;
            //grid-template-rows: auto auto auto;
            overflow-x: hidden;
            text-align: center;
            }

        .recipe-select figure{
            display: block;
            margin: 10px 0;
        }
        figure img{
           // min-width: 100%;
            
        }
    


}